.km-ios .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 138, 0);
    border-color: rgb(255, 255, 255);
    color: rgb(47, 33, 82);
}
.km-ios .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 138, 0);
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgba(0, 0, 0, 0);
}
.km-ios .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(255, 138, 0);
}
.km-ios .km-view .km-tabstrip .km-button .km-icon {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(215, 215, 215);
}
.km-ios .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(196, 204, 213);
    color: rgb(255, 255, 255);
}
.km-ios .km-view .km-content .km-list > li {
    background-color: rgb(151, 0, 105);
    color: rgb(255, 255, 255);
    border-color: rgb(105, 0, 73);
}
.km-ios .km-view .km-content .km-list > li .km-icon {
    color: rgb(255, 255, 255);
}
.km-ios .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(255, 255, 255);
}
.km-ios .km-view .km-navbar {
    background-color: rgb(47, 33, 82);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-ios .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-ios .km-view .km-navbar .km-button {
    background-color: rgb(47, 33, 82);
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    border-color: rgb(66, 52, 111);
}
.km-ios .km-view .km-navbar .km-button.km-state-active {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(47, 33, 82);
    border-color: rgb(66, 52, 111);
}
.km-ios .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-ios .km-view .km-content .km-list .km-state-active .km-listview-link .km-icon {
    color: rgb(47, 33, 82);
}
.km-ios .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 138, 0);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 138, 0);
    border-color: rgb(255, 255, 255);
    color: rgb(47, 33, 82);
}
.km-android .km-view .km-navbar {
    background-color: rgb(128, 1, 96);
    background-image: none;
}
.km-android .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-android .km-view .km-navbar .km-button {
    background-color: rgb(128, 1, 96);
    background-image: none;
    border-color: rgb(255, 255, 255);
}
.km-android .km-view .km-navbar .km-button.km-state-active {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(47, 33, 82);
}
.km-android .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(255, 255, 255);
}
.km-android .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(215, 215, 215);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link .km-icon {
    color: rgb(47, 33, 82);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 138, 0);
}
.km-android .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 138, 0);
}
.km-android .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(255, 138, 0);
}
.km-android .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(0, 0, 0);
}
.km-android .km-view .km-content .km-list > li .km-icon {
    color: rgb(255, 255, 255);
}
.km-android .km-view .km-content .km-list > li {
    color: rgb(255, 255, 255);
    border-color: rgb(47, 33, 82);
}
.km-blackberry .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 138, 0);
    border-color: rgb(255, 255, 255);
    color: rgb(47, 33, 82);
}
.km-blackberry .km-view .km-navbar {
    background-color: rgb(47, 33, 82);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-blackberry .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-navbar .km-button {
    background-color: rgb(47, 33, 82);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
    border-color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-navbar .km-button.km-state-active {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(47, 33, 82);
}
.km-blackberry .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-content .km-listgroupinset .km-group-title {
    background-color: rgb(47, 33, 82);
}
.km-blackberry .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(215, 215, 215);
}
.km-blackberry .km-view .km-content .km-list .km-state-active .km-listview-link .km-icon {
    color: rgb(47, 33, 82);
}
.km-blackberry .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 138, 0);
}
.km-blackberry .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 138, 0);
}
.km-blackberry .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(255, 138, 0);
}
.km-blackberry .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-content .km-list > li .km-icon {
    color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-content .km-list > li {
    color: rgb(255, 255, 255);
    border-color: rgb(47, 33, 82);
}
.km-wp .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 138, 0);
    border-color: rgb(255, 255, 255);
    color: rgb(47, 33, 82);
}
.km-wp .km-view .km-navbar {
    background-color: rgb(47, 33, 82);
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
}
.km-wp .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-wp .km-view .km-navbar .km-button {
    background-color: rgb(47, 33, 82);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
    border-color: rgb(255, 255, 255);
}
.km-wp .km-view .km-navbar .km-button.km-state-active {
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(47, 33, 82);
}
.km-wp .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-wp .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(255, 255, 255);
}
.km-wp .km-view .km-content .km-listgroupinset .km-group-title {
    background-color: rgb(47, 33, 82);
}
.km-wp .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(215, 215, 215);
}
.km-wp .km-view .km-content .km-list .km-state-active .km-listview-link .km-icon {
    color: rgb(47, 33, 82);
}
.km-wp .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 138, 0);
}
.km-wp .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 138, 0);
}
.km-wp .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(255, 138, 0);
}
.km-wp .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(249, 249, 249);
}
.km-wp .km-view .km-content .km-list > li .km-icon {
    color: rgb(255, 255, 255);
}
.km-wp .km-view .km-content .km-list > li {
    color: rgb(255, 255, 255);
    border-color: rgb(47, 33, 82);
}
.km-wp .km-view .km-tabstrip {
    background-color: rgb(151, 0, 105);
}
.km-meego .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(255, 138, 0);
    border-color: rgb(255, 255, 255);
    color: rgb(47, 33, 82);
}
.km-meego .km-view .km-navbar {
    background-color: rgb(47, 33, 82);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
}
.km-meego .km-view .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
}
.km-meego .km-view .km-navbar .km-button {
    background-color: rgb(47, 33, 82);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
    border-color: rgb(255, 255, 255);
}
.km-meego .km-view .km-navbar .km-button.km-state-active {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255,255,255,.2)),color-stop(1, rgba(255,255,255,.1)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(255,255,255,.2),rgba(255,255,255,.1));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(47, 33, 82);
}
.km-meego .km-view .km-navbar .km-button .km-text {
    color: rgb(255, 255, 255);
}
.km-meego .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(255, 255, 255);
}
.km-meego .km-view .km-tabstrip .km-button .km-icon {
    color: rgb(215, 215, 215);
}
.km-meego .km-view .km-content .km-list .km-state-active .km-listview-link .km-icon {
    color: rgb(47, 33, 82);
}
.km-meego .km-view .km-tabstrip .km-state-active span.km-icon {
    color: rgb(255, 138, 0);
}
.km-meego .km-view .km-tabstrip .km-button.km-state-active {
    border-color: rgb(255, 138, 0);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(0,0,0,.6)),color-stop(.5, rgba(0,0,0,.35)),color-stop(.5, rgba(0,0,0,.4)),color-stop(1, rgba(0,0,0,.6)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.6),rgba(0,0,0,.35) 50%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.6));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.6),rgba(0,0,0,.35) 50%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.6));
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(76, 76, 76);
}
.km-meego .km-view .km-tabstrip .km-button.km-state-active .km-text {
    color: rgb(255, 138, 0);
}
.km-meego .km-view .km-content {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-repeat: repeat;
    background-position: 0 0;
    background-color: rgb(240, 241, 242);
}
.km-meego .km-view .km-content .km-list > li .km-icon {
    color: rgb(255, 255, 255);
}
.km-meego .km-view .km-content .km-list > li {
    color: rgb(255, 255, 255);
    border-color: rgb(47, 33, 82);
    background-color: rgb(151, 0, 105);
}
.km-meego .km-view .km-tabstrip .km-button {
    background-color: rgb(76, 76, 76);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(0,0,0,.2)),color-stop(1, rgba(0,0,0,.8)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.2),rgba(0,0,0,.8));
    background-image: -ms-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.2),rgba(0,0,0,.8));
    background-repeat: repeat;
    background-position: 0 0;
}





.km-root .km-view .km-content .km-button {
    background-color: rgb(255, 138, 0);
    border-color: #f59d33;
    color: #251a41;
    text-shadow: none;
}

.km-root .km-list input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]):not(.k-input):not(.k-button), 
.km-root .km-list select:not([multiple]), 
.km-root .km-list .k-dropdown-wrap, .km-ios .km-list textarea {
    color: #fff;
}

.km-group-title .km-text {
    text-shadow: none;
}

.km-content p {
    margin-left: 0;
    margin-right: 0;
}




.km-ios .km-actionsheet-wrapper,
.km-ios .km-popup .k-list-container {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
}

.km-ios .km-popup .k-item, .km-ios .km-actionsheet > li > a {
    color: #fff;
    text-shadow: none;
    background-color: #2F2152;
}


.km-ios .km-popup .k-state-hover, 
.km-ios .km-popup .k-state-focused, 
.km-ios .km-popup .k-state-selected, 
.km-ios .km-actionsheet > li > a:active, 
.km-ios .km-actionsheet > li > a:hover, 
.km-ios li.km-actionsheet-cancel > a {
    background-color: rgb(255, 138, 0);
    color: #251a41;
    text-shadow: none;
}

.km-android .km-actionsheet, 
.km-android .km-popup .k-list-container {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, #272451),color-stop(1, #800160));
    background-image: -moz-linear-gradient(50% 0,50% 100%,#272451,#800160);
    background-image: -ms-linear-gradient(50% 0,50% 100%,#272451,#800160);
}

.km-android .km-actionsheet-title {
    color: rgb(255, 138, 0);
    border-color: rgb(255, 138, 0);
}


.km-android .km-popup .k-state-focused, 
.km-android .km-popup .k-state-selected, 
.km-android .km-actionsheet > li > a:focus, 
.km-android .km-actionsheet > li > a:active {
    background-color: rgb(255, 138, 0);
    color: #251a41;
    text-shadow: none;
}

.km-android .km-actionsheet-title,
.km-android .km-popup .k-item,
.km-android .km-actionsheet > li > a {
    border-color: #2F2152;
}