/* Font Icons */
.km-clock:after,.km-clock:before{content:"\E08D"}
.km-grid:after,.km-grid:before{content:"\E0AB"}
.km-comment:after,.km-comment:before{content:"\E091"}
.km-place:after,.km-place:before{content:"\E0B4"}

#logo {
    width: 260px;
    height: 80px;
    margin: 20pt auto 10pt auto;
    background: url('images/gids-logo.png') no-repeat left top;
}

#home p {
    width: 260px;
    margin: 0 auto 20pt auto;
}

.submit-button {
    display: block;
    width: 50%;
    margin: 15pt auto 5pt auto;
    text-align: center;
}
#usersettings-form-status {
    display: block;
    margin: 0 auto;
    text-align: center;
}


/* SpeakerDetails */
#speakerName h2 {
    float: left;
    font-size: 1em;
    margin: 0 0 0 .3em;
}
#speakerName h2 span {
    display: block;
    clear: both;
    font-size: 1.4em;
    margin: .1em 0 0 0;
}
#speakerName img {
    width: 5em;
    height: 5em;
    float: left;
    margin: 1em;
    -webkit-box-shadow: 0 2px 3px #2f2152;
    box-shadow: 0 2px 3px #2f2152;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 0;
}
#speakerInfo span {
    color: #ffa73e;
}


.session-title {
    display: block;
    font-size: 1em;
    line-height: 1.1em;
    margin-top: .3em;
    margin-bottom: .3em;
}
.session-detail {
    display: block;
    font-size: .7em;
    line-height: 1.1em;
    margin-bottom: .3em;
    color: #e0b3d2;
}
.session-time {
    display: block;
    text-align: right;
    font-size: .7em;
    line-height: 1.1em;
    margin-bottom: .3em;
}


#txtReview {
    display: block;
    float: none;
    width: 100%;
}

#about p {
    font-size: .8em;
    font-weight: normal;
}
#about p a {
    color: #ffa73e;
    text-decoration: none;
}

/* Retina Support */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
    #logo {
        margin-top: 60pt;
        background-image: url('images/gids-logo@2x.png');
        background-size: 260px 80px;
    }
}